.wbpf .form-group {
    margin-bottom: 10px;
}

.wbpf label {
    display: block;
    font-weight: 600;
}

.wbpf input {
    width: 100%;
}

.wbpf select {
}

span.description {
    color: #ADB5BD;
    font-size: 0.85rem;
    padding-top: 5px;
}

.birthdate select, .expiration select {
    width: 100%;
}

.birthdate {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
}
.expiration {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
}

.wbpf .woocommerce-tabs .tabs a {
    padding: 1em 10px 1em 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #343A40;
    outline: none;
    background-color: #E9ECEF;
}

.wbpf .woocommerce-tabs .tabs li.active a {
    background-color: #00387d;
    color: white;
}

.wbpf .woocommerce-tabs .tabs li a svg {
    position: relative;
    top: 3px;
    left: -2px;
}

.wbpf .woocommerce-tabs .tabs li.active a svg path {
    fill: white;
}

.wbpf .woocommerce-tabs .tabs li:not(.active) a:hover {
    background-color: #F1F3F5;
    color: #343A40;
}

#tab-billet input {
    width: auto;
}

#tab-billet li {
    list-style: none;
}

.wbpf .back-to-cart {
    color: #343A40;
    margin-right: 20px;
}

.wbpf .woocommerce-tabs {
    padding-bottom: 0;
}

.wbpf .entry-content {
    margin-bottom: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid #CED4DA;
}

.wbpf .button {
    border-radius: 5px;
}
.col2-set > .col-1 {
    width: 96%;
}
.col2-set > .col-2 {
    width: 96%;
}

.woocommerce-order-details {
    margin-top: 30px;
}

.payment_method_belluno ul.tabs {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 10px;
    border-top: none !important;
}

.payment_method_belluno ul.tabs li {
    border-bottom: none !important;
}

.payment_method_belluno ul.tabs li:after {
    display: none;
}

.payment_method_belluno .woocommerce-tabs .panel {
    width: 100% !important;
}

.payment_method_belluno .woocommerce-tabs {
    padding-top: 0;
}

.payment_method_belluno .payment_box fieldset {
    padding-top: 0 !important;
}

.payment_method_belluno #credit-card-installments {
    width: 100%;
}

.belluno-message {
    font-size: 0.9rem;
}

.payment_method_belluno .panel.entry-content {
    border-bottom: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.boleto-informacao {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.payment_method_belluno span.cardFlag {
    position: absolute;
    top: 40px;
    right: 20px;
}